.trip-photo {
  width: 300px;
}

.trip-card {
  margin: 10px;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.trip-card:hover {
  border: 1px solid blue;
  cursor: pointer;
}

.selected {
  border: 1px solid blue;
}

.trip-info {
  padding: 15px;
}

.trip-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.trip-dates {
  color: gray;
}
