.trip-photo {
  width: 300px;
}

.trip-card {
  margin: 10px;

  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

.trip-card:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 1px rgba(0, 89, 190, 0.6);
}

.selected {
  box-shadow: 0 0 6px 3px rgba(0, 89, 190, 0.6);
}

.trip-info {
  padding: 15px;
}

.trip-name {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 5px 0;
}

.trip-dates {
  color: gray;
}
