.trip-list-container {
  display: flex;
  flex-wrap: wrap;
}

.add-trip-btn {
  width: 300px;
  height: 200px;
  margin: 10px;
  background-color: #ecebeb;
  border: 1px solid #ecebeb;
}

.add-trip-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.add-trip-btn div {
  font-size: 1.2rem;
}
